body{
    background:linear-gradient(#1e3c72,#2a5298);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container{
   
   background: wheat;
   width: 400px; 
   

}
   
button{
    background:  orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: aliceblue;
    text-align: center;
    
}
button:hover{
    background:orangered;
}
.rb{
    margin-left: 10px;
    
}

ul li{
    padding-bottom: 2px;
    list-style:decimal-leading-zero;
} 

.card{ 
    padding: 20px 60px 50px ;
    align-content: center;
    align-items: center;
}
#input{
    border-radius: 20px;
    border: 2cm;
    height: 25px;
    text-align: center;
}
h1{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgb(71, 109, 14);
 
}
.part{
   display: flex;
   justify-content: center;
}